<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.4.0" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.2.12" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Workflow" version="9.0.2.12" targetFramework="net462" />
  <package id="Moq" version="4.10.1" targetFramework="net462" />
  <package id="MSTest.TestAdapter" version="1.4.0" targetFramework="net462" />
  <package id="MSTest.TestFramework" version="1.4.0" targetFramework="net462" />
  <package id="StyleCop.Analyzers" version="1.1.1-rc.114" targetFramework="net462" developmentDependency="true" />
  <package id="StyleCop.Analyzers.Unstable" version="1.1.1.114" targetFramework="net462" developmentDependency="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net462" />
</packages>